@import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);
@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);

body {
  font-family: 'Sawarabi Mincho';
  
}

p {
  font-size: 200%;
  margin: 20px;
  padding-top: 20px;
}

.section ul{
  list-style-type: none;
}

.section ul li {
  font-size: x-large;
  padding-bottom: 5px;
}

.sound {
  margin-left: 3rem;
  display: inline-block;
  padding: 10px;
  font-size: x-large;
  cursor: pointer;
  opacity: 1;
}

@media(max-width: 700px){
p {
  font-size: 150%;
  margin: 10px;
  padding-top: 10px;
}

.sound {
font-size: large;
}

}

.level3 p {
  
  font-size: 100%;
  
}

.level3 li p {
  
  font-size: 100%;
  
}

.level3 {
  
  margin-top: 50px;
}


.level4 ul li {
 
  font-size: 100%; 
  
}

.level4 ul {
 
 list-style-type: circle; 
  
}

*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
